node_modules
npm-debug.log
.git
.gitignore
.DS_Store
README.md
.env
.env.local
.editorconfig
.eslintrc*
.prettierrc*
.vscode
.vscode-test
coverage
dist
build
.next
.nuxt
.cache
.env*.local
.turbo
.vercel
.svelte-kit
.output
.env.production.local
.env.development.local
.env.test.local
.env.local
.ipynb_checkpoints
*.tsbuildinfo
.yarn/install-state.gz
