-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "instituciones" (
    "id_institucion" BIGSERIAL NOT NULL,
    "nombre" TEXT NOT NULL,
    "razon_social" TEXT,
    "rfc" TEXT,
    "clave_segura" TEXT NOT NULL,
    "tipo_institucion" TEXT,
    "activo" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "instituciones_pkey" PRIMARY KEY ("id_institucion")
);

-- CreateTable
CREATE TABLE "admins" (
    "id_admin" BIGSERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "cargo" TEXT,
    "fecha_creacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "id_institucion" BIGINT NOT NULL,

    CONSTRAINT "admins_pkey" PRIMARY KEY ("id_admin")
);

-- CreateTable
CREATE TABLE "tarjeta_diseno" (
    "id_diseno" BIGSERIAL NOT NULL,
    "nombre_institucion" TEXT NOT NULL,
    "logo_url" TEXT,
    "color_primario" TEXT,
    "color_secundario" TEXT,
    "color_terciario" TEXT,
    "color_cuarto" TEXT,
    "layout" TEXT NOT NULL DEFAULT 'horizontal',
    "id_institucion" BIGINT NOT NULL,

    CONSTRAINT "tarjeta_diseno_pkey" PRIMARY KEY ("id_diseno")
);

-- CreateTable
CREATE TABLE "usuarios" (
    "id_usuario" BIGSERIAL NOT NULL,
    "nombre" TEXT NOT NULL,
    "apellidos" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "telefono" TEXT,
    "genero" TEXT,
    "fecha_nacimiento" TIMESTAMP(3),
    "foto_url" TEXT,
    "id_institucion" BIGINT NOT NULL,
    "fecha_creacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "activo" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id_usuario")
);

-- CreateTable
CREATE TABLE "geolocalizacion_config" (
    "id_config" BIGSERIAL NOT NULL,
    "latitud" DOUBLE PRECISION NOT NULL,
    "longitud" DOUBLE PRECISION NOT NULL,
    "radio_metros" INTEGER NOT NULL DEFAULT 100,
    "bloqueo_intentos" BOOLEAN NOT NULL DEFAULT true,
    "bloqueo_horario" BOOLEAN NOT NULL DEFAULT true,
    "id_institucion" BIGINT NOT NULL,
    "fecha_actualizacion" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "geolocalizacion_config_pkey" PRIMARY KEY ("id_config")
);

-- CreateTable
CREATE TABLE "asistencias" (
    "id_asistencia" BIGSERIAL NOT NULL,
    "fecha_hora" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "latitud" DOUBLE PRECISION NOT NULL,
    "longitud" DOUBLE PRECISION NOT NULL,
    "estado" TEXT NOT NULL,
    "minutos_retraso" INTEGER DEFAULT 0,
    "id_usuario" BIGINT NOT NULL,
    "id_institucion" BIGINT NOT NULL,

    CONSTRAINT "asistencias_pkey" PRIMARY KEY ("id_asistencia")
);

-- CreateTable
CREATE TABLE "notificaciones" (
    "id_notificacion" BIGSERIAL NOT NULL,
    "tipo" TEXT NOT NULL,
    "mensaje" TEXT NOT NULL,
    "id_usuario" BIGINT NOT NULL,
    "id_institucion" BIGINT NOT NULL,
    "fecha_creacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notificaciones_pkey" PRIMARY KEY ("id_notificacion")
);

-- CreateTable
CREATE TABLE "codigos_verificacion" (
    "id" BIGSERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "expira_en" TIMESTAMP(3) NOT NULL,
    "usado" BOOLEAN NOT NULL DEFAULT false,
    "fecha_creacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "codigos_verificacion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "configuracion_empresa" (
    "id_configuracion" BIGSERIAL NOT NULL,
    "hora_entrada" TEXT NOT NULL,
    "hora_salida" TEXT NOT NULL,
    "tolerancia_minutos" INTEGER NOT NULL DEFAULT 10,
    "max_usuarios" INTEGER NOT NULL DEFAULT 10,
    "checkin_habilitado" BOOLEAN NOT NULL DEFAULT true,
    "codigo_empresa" TEXT,
    "id_institucion" BIGINT NOT NULL,
    "fecha_actualizacion" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "configuracion_empresa_pkey" PRIMARY KEY ("id_configuracion")
);

-- CreateTable
CREATE TABLE "historial_consultas" (
    "id_historial" BIGSERIAL NOT NULL,
    "id_institucion" BIGINT NOT NULL,
    "id_admin" BIGINT,
    "pregunta" TEXT NOT NULL,
    "consulta_sql" TEXT,
    "respuesta" TEXT NOT NULL,
    "estado" TEXT NOT NULL DEFAULT 'OK',
    "error" TEXT,
    "fecha_creacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "historial_consultas_pkey" PRIMARY KEY ("id_historial")
);

-- CreateIndex
CREATE UNIQUE INDEX "instituciones_clave_segura_key" ON "instituciones"("clave_segura");

-- CreateIndex
CREATE UNIQUE INDEX "admins_email_key" ON "admins"("email");

-- CreateIndex
CREATE UNIQUE INDEX "tarjeta_diseno_id_institucion_key" ON "tarjeta_diseno"("id_institucion");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_email_key" ON "usuarios"("email");

-- CreateIndex
CREATE UNIQUE INDEX "geolocalizacion_config_id_institucion_key" ON "geolocalizacion_config"("id_institucion");

-- CreateIndex
CREATE UNIQUE INDEX "configuracion_empresa_id_institucion_key" ON "configuracion_empresa"("id_institucion");

-- CreateIndex
CREATE INDEX "historial_consultas_id_institucion_idx" ON "historial_consultas"("id_institucion");

-- AddForeignKey
ALTER TABLE "admins" ADD CONSTRAINT "admins_id_institucion_fkey" FOREIGN KEY ("id_institucion") REFERENCES "instituciones"("id_institucion") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tarjeta_diseno" ADD CONSTRAINT "tarjeta_diseno_id_institucion_fkey" FOREIGN KEY ("id_institucion") REFERENCES "instituciones"("id_institucion") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "usuarios" ADD CONSTRAINT "usuarios_id_institucion_fkey" FOREIGN KEY ("id_institucion") REFERENCES "instituciones"("id_institucion") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "geolocalizacion_config" ADD CONSTRAINT "geolocalizacion_config_id_institucion_fkey" FOREIGN KEY ("id_institucion") REFERENCES "instituciones"("id_institucion") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "asistencias" ADD CONSTRAINT "asistencias_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "asistencias" ADD CONSTRAINT "asistencias_id_institucion_fkey" FOREIGN KEY ("id_institucion") REFERENCES "instituciones"("id_institucion") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notificaciones" ADD CONSTRAINT "notificaciones_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "configuracion_empresa" ADD CONSTRAINT "configuracion_empresa_id_institucion_fkey" FOREIGN KEY ("id_institucion") REFERENCES "instituciones"("id_institucion") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "historial_consultas" ADD CONSTRAINT "historial_consultas_id_institucion_fkey" FOREIGN KEY ("id_institucion") REFERENCES "instituciones"("id_institucion") ON DELETE CASCADE ON UPDATE CASCADE;

